{% extends "admin/index.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans "Home" %}</a> &rsaquo; {{ title }}</div>{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        <form action="." method="post">
            {{ form }}
            <input type="submit" value="Create" />
        </form>
    </div>
    
    <div class="module">
        <a href="{% url usertools_export %}">Export User Data</a>
    </div>
</div>
{% endblock %}